* {
    box-sizing: border-box;
}

.header {
    height: clamp(70px, 5.5vw, 130px);
    background-color: #2E294E;
}

.menuBarWrapper {
    height: clamp(25px, 7vw, 25px);
    aspect-ratio: 1.1 / 1;
}

.menuBar {
    height: clamp(6px, 1vw, 20px);
    width: 100%;
    background-color: white;
}

.logo {
    width: clamp(70px, 5vw, 150px);
}

.catContainer {
    height: clamp(30px, 2.7vw, 70px);
    background-color: #2274A5;
}

.catItem {
    font-size: clamp(0.7em, 1.2vw, 1.6em);
    color: white;
}

.normalWidth {
    width: clamp(340px, 95%, 2134px);
}

.recentCard {
    width: clamp(125px, 15vw, 350px);
    height: clamp(60px, 20vw, 350px);
}

.recentContent {
    font-size: 0.5em;
    padding: 0;
    width: 50%;
}

.recentContent h5 {
    font-size: 1.3em;
    margin: 0;
}

.recentContent p {
    margin: 0;
    padding: 0;
    font-size: 0.7em;
}

.contentContainer {
    overflow: hidden;
}
