@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&family=Battambang:wght@900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.header {
    height: clamp(70px, 5.5vw, 130px);
    background-color: #2E294E;
}

.menuBarWrapper {
    height: clamp(25px, 7vw, 25px);
    aspect-ratio: 1.1 / 1;
}

.menuBar {
    height: clamp(6px, 1vw, 20px);
    width: 100%;
    background-color: white;
    transition: all 0.3s;
}

.menuBar1 {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
    z-index: 1;
}

.menuBar2 {
    display: none;
}

.menuBar3 {
    transform: rotate(-45deg);
    position: relative;
    bottom: 11px;
    z-index: 1;
}

.logo {
    width: clamp(70px, 5vw, 150px);
}

.catContainer {
    height: clamp(30px, 2.7vw, 70px);
    background-color: #2274A5;
}

.catItem {
    font-size: clamp(0.7em, 1.0vw, 1.3em);
    color: white;
}

.normalWidth {
    width: clamp(340px, 95%, 2134px);
}

.recentCard {
    width: clamp(100px, 15vw, 350px);
}

.recentContent {
    font-size: clamp(0.5em, 1.0vw, 1.1em);
    padding: 0;
    width: 50%;
}

.recentContent h5 {
    font-size: 1.3em;
    margin: 0;
}

.recentContent p {
    margin: 0;
    padding: 0;
    font-size: 0.7em;
}

.principal {
    height: clamp(210px, 25vw, 700px);
    padding: clamp(12px, 1.5vw, 50px);
    background-color: #f7f7f7;
    border-radius: 8px;
    overflow: hidden;
}

.principalTitle {
    font-size: clamp(0.7em, 2.2vw, 2.4em);
    margin: 0;
    padding: 0;
    font-family: 'Old Standard TT', serif;
    font-weight: 600;
}

.principalImage {
    width: 50%;
    background-image: url("../assets/facebook.jpg");
    background-size: cover;
    height: 100%;
}

.principalInfo {
    font-size: clamp(0.5em, 1.2vw, 1.2em);
    padding: 0;
    margin: 0;
    font-family: 'Old Standard TT', serif;
}

.secondaryTitle {
    font-size: clamp(0.7em, 1.3vw, 2.4em);
    display: inline-block;
}

.secondaryInfo {
    font-size: clamp(0.4em, 1vw, 1.2em);
    padding: 0;
    margin: 0;
    font-family: 'Old Standard TT', serif;
}

.secondary {
    background-color: #f7f7f7;
    padding: 11px;
}

.secondaryBundle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    justify-content: space-between;
    gap: 15px;
}

.paragraph {
    height: 40%;
}

.pageListContainer {
    display: inline-block;
    list-style-type: none;
    color: #FFFF;
    font-size: clamp(0.9em, 1.1vw, 1.7em);
}

.menuOverlay {
    top: 0;
    right: 0;
    z-index: 0;
    width: 0%;
    transition: width 0.3s;
}

.menuOverlay > ul {
    display: none;
    list-style-type: none;
}

.menuOverlay > ul > li {
    display: none;
}

.openOverlay {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #2E294E;
    justify-content: center;
    align-items: center;
    z-index: 0;
    transition: width 0.3s;
}

.openOverlay > ul {
    list-style-type: none;
    color: #fff;
    height: clamp(150px, 40vw, 170px);
}

.openOverlay > ul > li {
    height: 100%;
    display: flex;
    justify-content: center;
    border: white 1px solid;
    align-items: center;
}

.aboutParagraph {
    text-align: justify;
    font-size: clamp(0.9em, 1.0vw, 1.6em);
}

.aboutImage1, .aboutImage2 {
    height: clamp(300px, 20vw, 400px);
}

.aboutImage1 {
    
}

@media (min-width: 576px) {
    .principal {
        width: 50%;
    }
    .secondaryBundle {
        width: 50%;
    }

    .newsContainer {
        height: clamp(280px, 27vw, 430px);
    }

    .principal {
        height: clamp(280px, 27vw, 430px);
    }

    .lineContainer div {
        height: inherit;
    }

    .lineContainer p, .lineContainer div {
        width: 50%;
    }
}

